@import 'tailwindcss';
@import './animations/ping-outline.css';

@theme {
  --color-primary: var(--color-blue-500);
  --color-on-primary: var(--color-blue-950);

  --color-secondary: var(--color-yellow-400);
  --color-on-secondary: var(--color-yellow-950);

  --color-danger: var(--color-red-500);
  --color-on-danger: var(--color-white);

  --color-surface-0: color-mix(in srgb, var(--color-primary) 2%, black);
  --color-on-surface-0: color-mix(in srgb, var(--color-surface-0) 10%, white);

  --color-surface-1: color-mix(in srgb, var(--color-primary) 16%, black);
  --color-on-surface-1: color-mix(in srgb, var(--color-surface-1) 10%, white);

  --opacity-disabled: 0.5;
}

body {
  color: var(--color-on-surface-0);
  background: linear-gradient(
    -45deg,
    var(--color-surface-1) 0%,
    var(--color-surface-0) 100%
  );
}

code {
  --bg-color: color-mix(in srgb, currentcolor 15%, transparent);

  background-color: var(--bg-color);
  outline: 0.25em solid var(--bg-color);
  border-radius: var(--radius-xs);
  padding: 0em 0.375em;
  margin: 0 0.25em;
}

/* ── Scrollbar ── */
::-webkit-scrollbar {
  width: calc(var(--radius-md) * 1.25);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: color-mix(
    in srgb,
    var(--color-on-surface-0) 50%,
    var(--color-surface-0)
  );
  border-radius: var(--radius-md);
}
